	body {
	  		background-image: url(https://t4.ftcdn.net/jpg/00/68/82/57/240_F_68825774_isOmOjQrm2sHgPeO5j1dmP8tGKBpT6j1.jpg);
	  		background-size: 100% 660px;
	  		background-repeat: no-repeat;
	  		height: 10%;
	  		
	  		
	  	}

	  	
		

		.mainContainer {
			
			height: 450px;
			width: 450px;
			background: white;
			position: relative;
			/*left: 0%;*/
		}
	  	.city {
	  		border-top: none;
	  		border-left: none;
	  		border-right: none;
	  		width: 70%;
	  		height: 60px;
	  		padding: 15px;
	  	}
	  	.state {
	  		border-top: none;
	  		border-left: none;
	  		border-right: none;
	  		width: 20%;
	  		height: 60px;
	  		padding: 15px 0 15px 15px;	  		
	  	}
	  	h3 {
	  		padding: 15px 0 2px 15px;
	  	}


	  	.title{
			/*background-image: url(http://www.uidownload.com/files/396/851/695/blue-background-shading-vector.jpg);*/
			background: linear-gradient(to right, white, #99ebff, white);
			background-repeat: no-repeat;
			padding:2%; 
			margin-bottom: 20px;
			font-size: 45px;

	  	}

	  	.center {
	  		text-align: center;
	  	}

	  	.launchBtn, .newLaunch, .quit {
	  		width: 120px;
	  		margin-top: 20px;
	  		font-size: 20px;
	  		padding: 15px;
	  		/*border-radius: 50%;*/
	  		border: black 2px solid;
	  		position: absolute;
	  		left: 37%;
	  	}

	  	.newLaunch {
	  		top: 77%;
	  		left: 0px;
	  		width: 100%;
	  		margin-bottom: 20%;

	  	}

	  	.quit {
	  		left: 0px;
	  		width: 100%;
			top: 90%;
	  	}

	  	a {
	  		color: white;

	  	}

	  	.mapContainer {
	  		background: red;
	  		height: auto;
			width: auto;
	  		position: relative;
	  	}

	  	.map {
	  		background-image: url(https://www.empresaiceberg.cl/images/ubicacionarica.jpg);
	  		background-size: 100% 100%;
	  		background-repeat: no-repeat;
	  		height: 662px;
	  		width auto;
	  	}

	  	.console {
	  		font-size: 35px;
	  		position: absolute;
	  		bottom: 0px;
	  		height: 80px;
	  		background:#b3ccff;
	  		width: 100%;
	  		padding: 20px;
	  	}

	  	#done {
	  		color: black;
	  	}

	  	#ratePrompt {
	  		font-size: 30px;
	  	}

	  	#rateImg {
	  		height: 90px;
	  		/*width: 100px;*/
	  	}

	  	.rating {
	  		color: gold;
	  		text-align: center;
	  		font-size: 60px;
	  		margin-top: 10%;
			  unicode-bidi: bidi-override;
			  direction: rtl;
			}
			.rating > span:hover:before,
			.rating > span:hover ~ span:before {
			   content: "\2605";
			   position: absolute;
			}
			}

	@media only screen and (min-height: 660px) {
	    body {
	        background-size: 100% 750px;
			}
	        
		}

		@media only screen and (min-height: 750px) {
	    body {
	        background-size: 100% 1000px;
	    	}
		}

		@media only screen and (min-height: 1000px) {
	    body {
	        background-size: 100% 1800px;
	    	}
		}

		
		@media only screen and (min-width: 410px) {
	    	 body {
	    	 	padding: 0px;
	    	 	margin-top: 15%;
	    		
	        	
	    	}

	    	.mainContainer {
	    		height: 1000px;
	    		width: 600px;
	    	}
		}

